<!--
  Generated template for the EditShoppingItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{item?.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input [(ngModel)]="item.name" type="number" placeholder="iPad Pro"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Quantity</ion-label>
    <ion-input [(ngModel)]="item.quantity" type="number" placeholder="1"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Price</ion-label>
    <ion-input [(ngModel)]="item.price" placeholder="700" ></ion-input>
  </ion-item>

  <button (click)="saveItem(item)" ion-button [block]="" clearInput="">Save</button>
  <button (click)="removeItem(item)" ion-button [block]="" clearInput="" color="danger">Delete</button>
</ion-content>
